/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/* common styles */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
/* top section */
.first-section{
    display: flex;
    justify-content: space-between;
    background: #2D25A0;
   
}
/* top left section */
.top-left{
    margin-left: 156px;
    margin-top: 137px;
    font-weight: bold;
    
}
#copa-america{
    font-size:64px;
    line-height: 80px;
    color: #FFFFFF;
    font-weight: 200;
    transition: transform 3s;
}
#copa-america:hover{
    transform: rotate(360deg);

}
.watch-link a{
    padding: 10px 24px;
    background-color:#E02C6D;
    width:148px;
    height: 44px;
    display: grid;
    justify-content:center;
    align-items: center;
    text-decoration:none;
    color:aliceblue;
    display: inline;
}
span{
    padding-left: 5px;
}
/* top right section */
.top-pic img{
    width: 556px;
    height:438px;
    margin-right: 140px;
    margin-top: 153px;
}
/* Top Players style */
.top-players{
    padding-top:70px;
    padding-left: 10px;
}
.players{
    display: grid;
    grid-template-columns:repeat(3, 1fr) ;
    grid-gap: 25px;
   
}
.player{
    flex-direction:row;
    align-items:flex-start;
    padding-left: 30px;
    padding-top: 20px;
    box-shadow: 10px 10px 40px 10px  rgb(248, 243, 243);
}
.player img{
    width: 360px;
    height:470 ;
    
}
