/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/* common styles */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
/* top section */
.first-section{
    display: flex;
    justify-content: space-between;
    background: #2D25A0;
   
}
/* top left section */
.top-left{
    margin-left: 156px;
    margin-top: 137px;
    font-weight: bold;
    
}
#copa-america{
    font-size:64px;
    line-height: 80px;
    color: #FFFFFF;
    font-weight: 200;
    transition: transform 3s;
}
#copa-america:hover{
    transform: rotate(360deg);

}
.watch-link a{
    padding: 10px 24px;
    background-color:#E02C6D;
    width:148px;
    height: 44px;
    display: grid;
    justify-content:center;
    align-items: center;
    text-decoration:none;
    color:aliceblue;
    display: inline;
}
span{
    padding-left: 5px;
}
/* top right section */
.top-pic img{
    width: 556px;
    height:438px;
    margin-right: 140px;
    margin-top: 153px;
}
/* Top Players style */
.top-players{
    padding-top:70px;
    padding-left: 10px;
}
.players{
    display: grid;
    grid-template-columns:repeat(3, 1fr) ;
    grid-gap: 25px;
    
   
}
.player{
    flex-direction:row;
    align-items:flex-start;
    padding-left: 30px;
    padding-top: 20px;
    box-shadow: 10px 10px 40px 10px  rgb(248, 243, 243);
    border-radius: 20PX;
}
.player img{
    width: 360px;
    height:470 ;
    border-radius: 10PX;
}
/* footer section */
.photo{
    display: flex;
    flex-direction:column;
    width: 483px;
    height: 113px;
    margin-top:150px;
    margin-left: 420px;
}
.logo{
    width: 170px;
    height: 55px;
    display: flex;
    margin-top: 20px;
    margin-left:570px;
}
.logo img{
    padding: 10px;
}
.copy{
    text-align: center;
    font-weight: 700;
    margin-bottom: 90px;
}

    /* Media queries */

    /* Mobile Device */
@media only screen and (max-width:688px) {
    .first-section{
        width: 100%;
        align-items: center;
        flex-direction: column;
    }
    .players{
        width: 100%;
        align-items: center;
        grid-template-columns: repeat(1, 1fr);
    }
    .footer{
        margin-left: 0;
    }
}   
/* tablet devices */
@media only screen and (min-width:688px) and (max-width:992px){
    .first-section{
        width: 100%;
        flex-direction: column;
    }
    .players{
        grid-template-columns: repeat(2, 1fr);
    }
    .footer{
        margin-left: 0;
    }
}   



